on:
  pull_request:
    branches:
      - develop
      - develop_v3
      - master

name: Check & Test

jobs:
  test_rust:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: Run Check
        uses: actions-rs/cargo@v1
        with:
          command: check
      - name: Run Tests
        uses: actions-rs/cargo@v1
        with:
          command: test
      - name: Run Clippy
        uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-features